.details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
    font-size: 1.25rem;
}

.details-container h2 {
    width: 50%;
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ingredients-container {
    width: 18.75rem;
    box-shadow: 0rem .2rem 0.6rem black;
    padding: .75rem;
    border-radius: .3rem;
}

.instructions-container {
    max-width: 30rem;
    box-shadow: 0rem .2rem .6rem black;
    padding: .75rem;
    border-radius: .3rem;
}

.instructions-container h2 {
    width: 70%;
}
